.rockhil-form
  = form_for(resource, :as => resource_name, :url => unlock_path(resource_name), :html => { :method => :post }) do |f|
    .field.field-header
      .field-describe
        %h2= f.label :email, "Resend unlock instructions"
    
    .field.field-email_field
      .field-describe= f.label :email
      .field-request= f.email_field :email
      
    .field.field-actions
      .field-describe
      .field-request= f.submit "Resend unlock instructions"
    
= render "links"
