.rockhil-form
  = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f|
    = devise_error_messages!
    = f.hidden_field :reset_password_token
    
    .field.field-header
      .field-describe
        %h2= f.label :password, "Change your password"
        
    .field.field-password_field
      .field-describe= f.label :password, "New Password"
      .field-request= f.password_field :password
      
    .field.field-password_field
      .field-describe= f.label :password_confirmation, "Confirm new password"
      .field-request= f.password_field :password_confirmation
      
    .field.field-actions
      .field-describe
      .field-request= f.submit "Change my password"

= render "links"
