.collection-posts
  %ul
    - posts.each do |post|
      %li.post.collection-record{:id => "record-#{post.id}", :data => {:id => post.id}}
        .inner-record
          .record-column.post-title
            .inner-column
              %h3= post.title
          .record-column.post-content
            .inner-column= truncate(post.content, :length => 500).html_safe
            
          .record-column.post-actions
            .inner-column
              = link_to "Read More", post_path(post), :class => 'post-show'
              
  = paginate posts